{% extends 'layout.twig' %}
{% set role = 'console' %}
{% block head %}
    <link rel="stylesheet" href="/stylesheets/jspanel.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css" />
{% endblock %}
{% block body %}
    <div class="desktop-container"></div>
    <script src="/js/jspanel.js"></script>
{% endblock %}