<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="{% block bodyClass %}{% endblock %}" data-channel="{{ channel }}">
    {% block body %}{% endblock %}
  </body>
  <script src="/js/{{ block('bodyClass') }}.bundle.js"></script>
</html>
