{% extends 'layout.twig' %}
{% set role = 'monitor' %}
{% block body %}
    {#<div class="overlay"></div>
    <video id="playback" class="overlay" autoplay src="/data/C07 节拍器-piano-伴奏视频.mp4"></video>
    <canvas id="overlay" class="overlay"></canvas>#}
    <div class="sandbox"></div>
{% endblock %}