@import (reference) "bootstrap/less/variables";
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  &[data-role=monitor]{
    overflow: hidden;
  }
}
.full{
  width: 100%;
  height: 100%;
}
.block{
  display: block;
  width: 100%;
}
.pre{
  white-space: pre-line;
}
.nowrap{
  white-space: nowrap;
}
.desktop-container{
  background: #66ccff url("../bg.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  .icon-container{
    margin: 1em;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    div{
      margin: 0 auto;
      padding: 0.5em;
      color: silver;
      border: 2px solid transparent;
      &:hover{
        border-radius: 1em;
        border-color: whitesmoke;
        background-color: rgba(192, 192, 192, 0.8);
      }
    }
    p{
      color: white;
      text-shadow: cornsilk 2px 2px 2px;
      font-size: 1.5em;
      margin: 0;
    }
  }
  &:after{
    position: absolute;
    bottom: 2em;
    left: 1em;
    content: "WebPA Integrated";
    text-shadow: #bbb 2px 2px 2px;
    font-size: 5em;
    color: orange;
  }
}
.sandbox{
  position: absolute;
  background: black;
  .full();
  .layer{
    .full();
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  video{
    background: black;
  }
}
.background{
  background: black center center no-repeat;
  background-size: contain;
}
.video-player{
  button{
    margin: 0.5em 0.5em 0.5em 0;
  }
  button:last-child{
    margin-right: 0;
  }
}
.fb2k-player, .camera-player{
  .on{
    color: orangered;
  }
  input[type=number]{
    width: 4.5em;
    text-align: center;
    color: coral;
  }
}
.window-padding-top{
  padding-top: 0.5em;
}
.file-manager{
  table{
    font-size: 1.25em;
    width: 100%;
    th{
      text-align: center;
    }
    th:first-child{
      width: 1.5em;
    }
    th:first-child,td:first-child{
      text-align: center;
    }
  }
}
.program-manager{
  table{
    .btn-sm{
      line-height: 1;
    }
    .fa-file{
      font-size: 1.7em;
    }
  }
}
.jsPanel{
  .dataTables_info, .dt-buttons{
    padding-left: 1em;
  }
  .dataTables_filter{
    padding-right: 1em;
  }
}
i.lock-icon{
  &.fa-lock-open{
    color: @brand-success;
  }
  &.fa-lock{
    color: @brand-danger;
  }
}